<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>417005058487-95a3foq0tsllrun6hccaj5ngbvoe74bn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.417005058487-95a3foq0tsllrun6hccaj5ngbvoe74bn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>417005058487-kfcdfinfuuqs6lc4eve06adgqebu9rqd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBVb0KqGAbe57oi5l55J1M2dIqYUtlPAc4</string>
	<key>GCM_SENDER_ID</key>
	<string>417005058487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.meta.ja.tcare-app</string>
	<key>PROJECT_ID</key>
	<string>test-api-sheet-excel</string>
	<key>STORAGE_BUCKET</key>
	<string>test-api-sheet-excel.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:417005058487:ios:563ecd44ac52cfd8e3d032</string>
</dict>
</plist>